GIT_USER=user
GIT_PASSWORD=password
GIT_URL=https://github.com/subugoe/fwb-daten
SOLR_STAGING_URL=http://localhost:8983/solr
SOLR_LIVE_URL=http://localhost:8983/solr
SOLR_IMPORT_CORE=fwboffline
SOLR_ONLINE_CORE=fwb